.login-form {
  margin: 200px auto 0;
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 6px;
}

p {
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 25px;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  font-weight: 600;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.login-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.login-form-button {
  width: 100%;
}